@media (prefers-color-scheme: dark) {
  :root {
    --tx-1: #ffffff;
    --tx-2: #eeeeee;
    --tx-3: #9e9e9e;
    --bg-1: #000000;
    --bg-2: #111111;
    --bg-3: #222222;
    --lk-1: #3291ff;
    --lk-tx: #ffffff;
    --ac-1: #7928ca;
  }
}
