:root {
  --font-sans: "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-sans-en: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
    monospace, serif;
  --site-width: 620px;
  --tx-1: #1a1a1a;
  --tx-2: #202020;
  --tx-3: #777777;
  --bg-1: #ffffff;
  --bg-2: #f6f8fa;
  --bg-3: #d1d8dc;
  --lk-1: #0070f3;
  --lk-tx: #ffffff;
  --ac-1: #79ffe1;
}
