/*----------------------------------------------------
// Theme Light
----------------------------------------------------*/

:root {
  --theme-tx-1: #1a1a1a;
  --theme-tx-2: #202020;
  --theme-tx-3: #777777;
  --theme-bg-1: #ffffff;
  --theme-bg-2: #f6f8fa;
  --theme-bg-3: #d1d8dc;
  --theme-lk-1: #0070f3;
  --theme-lk-tx: #ffffff;
  --theme-ac-1: #79ffe1;
}
