/* ---------------------------------------------------
// Modules: WYSIWYG
//--------------------------------------------------*/

.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  font-weight: 700;
}

.wysiwyg h1 {
  font-size: 200%;
}

.wysiwyg h2 {
  font-size: 150%;
}

.wysiwyg h3 {
  font-size: 125%;
}

.wysiwyg h4 {
  font-size: 100%;
}

.wysiwyg h5 {
  font-size: 87.5%;
}

.wysiwyg h6 {
  font-size: 75%;
}

.wysiwyg p {
  line-height: 1.9;
}

.wysiwyg small {
  font-size: 87.5%;
}

.wysiwyg strong {
  font-weight: 700;
}

.wysiwyg em {
  font-style: italic;
}

.wysiwyg del,
.wysiwyg s {
  text-decoration: line-through;
}

.wysiwyg a {
  cursor: pointer;
  color: #37b0be;
  text-decoration: underline;
}

.wysiwyg a:hover,
.wysiwyg a:active {
  text-decoration: none;
}

.wysiwyg blockquote {
  background-color: whitesmoke;
  border-left: 0.5em solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 1.5em;
}

.wysiwyg :not(pre) > code {
  padding: 0.2em 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #5d69a8;
  font-size: 87.5%;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
    monospace, serif;
  word-break: break-all;
}

.wysiwyg pre {
  background-color: whitesmoke;
  border-radius: 2px;
  color: #5d69a8;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
    monospace, serif;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.wysiwyg pre > code {
  display: block;
  padding: 1.25em 1.5em;
}

.wysiwyg ul,
.wysiwyg ol {
  line-height: 1.9;
  margin-left: 1.5em;
}

.wysiwyg ul > li,
.wysiwyg ol > li {
  display: list-item;
}

.wysiwyg ul > li li,
.wysiwyg ol > li li {
  font-size: 100%;
}

.wysiwyg ul > li {
  list-style: circle outside;
}

.wysiwyg ol > li {
  list-style: decimal outside;
}

.wysiwyg table {
  width: 100%;
  background-color: white;
}

.wysiwyg table th {
  background-color: rgba(38, 121, 130, 0.7);
  color: white;
  font-weight: 400;
}

.wysiwyg table th,
.wysiwyg table td {
  padding: 0.75em 1em;
  border: 1px solid #d1d8dc;
}

.wysiwyg dl {
  width: 100%;
  background-color: white;
  border: 1px solid #d1d8dc;
  border-top: none;
}

.wysiwyg dt {
  width: 100%;
  padding: 0.75em 1em;
  background-color: rgba(38, 121, 130, 0.7);
  border-top: 1px solid #d1d8dc;
  color: white;
  font-weight: 400;
}

.wysiwyg dd {
  width: 100%;
  padding: 0.75em 1em;
  border-top: 1px solid #d1d8dc;
}

.wysiwyg hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #d1d8dc;
}

.wysiwyg figure {
  text-align: center;
}

.wysiwyg figure > figcaption {
  margin-top: 12px;
  font-size: 87.5%;
}
