/*----------------------------------------------------
// HTML
----------------------------------------------------*/

html,
input,
select,
button {
  font-family: var(--theme-font-sans);
}

body {
  background: var(--theme-bg-1);
  color: var(--theme-tx-2);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-tx-1);
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.75;
}

a {
  color: var(--theme-lk-1);
}

code,
pre,
kbd,
samp {
  font-family: var(--theme-font-mono);
}

ul,
ol {
  margin-left: 2rem;
  padding-left: 0;
}

/*----------------------------------------------------
// Blocks: Core
----------------------------------------------------*/

.wp-block {
  max-width: var(--theme-site-width);
}

.block-editor-default-block-appender
  textarea.block-editor-default-block-appender__content {
  font-family: var(--theme-font-sans);
}

.editor-post-title__block .editor-post-title__input {
  color: var(--theme-tx-1);
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--theme-font-sans);
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
  line-height: 1.25;
  word-break: break-word;
}

.components-toolbar .components-button {
  white-space: nowrap;
}

/*----------------------------------------------------
// Blocks: Core Quote
----------------------------------------------------*/

.wp-block-quote {
  padding: 1.5rem;
  background: var(--theme-bg-2);
  border-left: 5px solid var(--theme-bg-3);
}

.wp-block-quote .wp-block-quote__citation {
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  opacity: 0.65;
}

/*----------------------------------------------------
// Blocks: Core Image
----------------------------------------------------*/

.wp-block-image figcaption {
  margin-top: 0.5rem;
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  opacity: 0.65;
}

/*----------------------------------------------------
// Blocks: Core Code
----------------------------------------------------*/

.block-editor-rich-text__editable code {
  background: var(--theme-bg-2);
  border: 1px solid var(--theme-bg-3);
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 0.9rem;
}

.wp-block-code,
.wp-block-code textarea {
  background: var(--theme-bg-2);
}

.wp-block-code textarea {
  color: var(--theme-tx-2);
  font-size: 0.9rem;
}

/*----------------------------------------------------
// Blocks: Core Table
----------------------------------------------------*/

.wp-block-table table thead {
  border-bottom: none;
}

.wp-block-table table th {
  background: var(--theme-bg-2);
}

.wp-block-table table td,
.wp-block-table table th {
  padding: 0.5rem;
  border: 1px solid var(--theme-bg-3);
}

.wp-block-table table tfoot {
  border-top: 2px solid var(--theme-bg-3);
}

.wp-block-table figcaption {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  opacity: 0.65;
}
