/*----------------------------------------------------
// Reset
----------------------------------------------------*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/*----------------------------------------------------
// HTML
----------------------------------------------------*/

html {
  font-family: var(--theme-font-sans);
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--theme-bg-1);
  color: var(--theme-tx-2);
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
}

a {
  color: var(--theme-lk-1);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-tx-1);
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.375rem;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  line-height: 1.75;
}

blockquote.wp-block-quote {
  padding: 1.5rem;
  background: var(--theme-bg-2);
  border-left: 5px solid var(--theme-bg-3);
}

blockquote.wp-block-quote cite {
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  opacity: 0.65;
}

blockquote *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  background: var(--theme-lk-1);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--theme-lk-tx);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
  background: var(--theme-lk-2);
}

textarea,
select,
input {
  padding: 6px 12px;
  background: var(--theme-bg-2);
  border: 1px solid var(--theme-bg-3);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--theme-tx-2);
}

time {
  font-size: 0.875rem;
  opacity: 0.5;
}

code,
pre {
  font-family: var(--theme-font-mono);
}

pre,
pre.wp-block-code {
  color: var(--theme-tx-2);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--theme-bg-3);
}

/*----------------------------------------------------
// App Header
----------------------------------------------------*/

.app-header {
  position: relative;
  padding: 16px 0;
  background-color: var(--theme-bg-1);
  z-index: 80;
}

.app-header + .app-menu {
  margin-top: -12px;
}

.app-header + .app-main {
  border-top: 1px solid var(--theme-bg-3);
}

.app-header > .app-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(var(--theme-site-width) + 16px * 2);
  margin: 0 auto;
  padding: 0 16px;
}

.app-header-contents > .app-header-description {
  flex: 1 0 0;
  margin-left: 20px;
}

.app-header-site-name {
  flex: none;
  display: flex;
  color: var(--theme-tx-1);
  font-size: 1.25rem;
  font-weight: 900;
  text-decoration: none;
}

.app-header-description {
  color: var(--theme-tx-3);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25;
}

/*----------------------------------------------------
// App Nav
----------------------------------------------------*/

.app-nav {
  position: relative;
  background-color: var(--theme-bg-1);
  z-index: 100;
}

.app-nav:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--theme-bg-2);
  transform: translateX(-50%);
  z-index: 1;
}

.app-nav-menu {
  position: relative;
  max-width: calc(var(--theme-site-width) + 16px * 2);
  margin: 0 auto;
  z-index: 2;
}

.app-nav-menu > ul {
  display: flex;
  align-items: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.app-nav-menu > ul > li {
  padding: 4px;
  list-style: none;
}

.app-nav-menu > ul > li > a {
  position: relative;
  display: flex;
  padding: 12px;
  color: var(--theme-tx-3);
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.12s;
}

.app-nav-menu > ul > li > a:hover {
  color: var(--theme-tx-2);
}

.app-nav-menu > ul > li > a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--theme-bg-2);
  transform: translateX(-50%);
  transition: width 0.12s, background-color 0.12s;
  z-index: 2;
}

.app-nav-menu > ul > li > a:hover:after,
.app-nav-menu > ul > li.current-menu-item > a:after {
  width: calc(100% - 12px * 2);
  background-color: var(--theme-ac-1);
}

/*----------------------------------------------------
// App Main
----------------------------------------------------*/

.app-main {
  position: relative;
  display: block;
  padding-top: 16px;
  padding-bottom: 40vh;
}

@media (min-width: 992px) {
  .app-main {
    padding-top: 32px;
  }
}

.app-main > .page-contents {
  max-width: calc(var(--theme-site-width) + 16px * 2);
  margin: 0 auto;
  padding: 0 16px;
}

/*----------------------------------------------------
// Page Contents
----------------------------------------------------*/

.page-contents > *:not(:first-child) {
  margin-top: 2rem;
}

.page-contents ol,
.page-contents ul {
  padding-left: 2rem;
}

.page-contents li {
  margin-top: 0.4rem;
  line-height: 1.6875;
}

/*----------------------------------------------------
// Article
----------------------------------------------------*/

.article > *:not(:first-child) {
  margin-top: 2rem;
}

.article-header > *:not(:first-child) {
  margin-top: 0.5rem;
}

.article-cover {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .article-cover {
    margin-bottom: 3rem;
  }
}

.article-contents > *:not(:first-child) {
  margin-top: 2rem;
}

/*----------------------------------------------------
// Pager & Pagination
----------------------------------------------------*/

.pager,
.pagination {
  padding-top: 1rem;
  border-top: 1px solid var(--theme-bg-3);
}

/*----------------------------------------------------
// Blocks: Core Image
----------------------------------------------------*/

.wp-block-image figcaption {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  opacity: 0.65;
}

/*----------------------------------------------------
// Blocks: Core Table
----------------------------------------------------*/

.wp-block-table table {
  border-collapse: collapse;
  width: 100%;
}

.wp-block-table table thead {
  border-bottom: none;
}

.wp-block-table table thead th {
  text-align: center;
}

.wp-block-table table td,
.wp-block-table table th {
  padding: 0.5rem;
  border: 1px solid var(--theme-bg-3);
}

.wp-block-table table th {
  background: var(--theme-bg-2);
}

.wp-block-table table caption {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.wp-block-table table tfoot {
  border-top: 2px solid var(--theme-bg-3);
}

.wp-block-table figcaption {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--theme-tx-2);
  font-size: 0.875rem;
  opacity: 0.65;
}

/*----------------------------------------------------
// Blocks: Core Table
----------------------------------------------------*/

.wp-block-code {
  background-color: var(--theme-bg-2);
  border: 1px solid var(--theme-bg-3);
  font-family: var(--theme-font-mono);
  white-space: pre;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
