/*----------------------------------------------------
// Theme Dark
----------------------------------------------------*/

body.theme-dark {
  --theme-tx-1: #ffffff;
  --theme-tx-2: #eeeeee;
  --theme-tx-3: #9e9e9e;
  --theme-bg-1: #000000;
  --theme-bg-2: #111111;
  --theme-bg-3: #222222;
  --theme-lk-1: #3291ff;
  --theme-lk-2: #2e84e6;
  --theme-lk-tx: #ffffff;
  --theme-ac-1: #7928ca;
}
