/* ---------------------------------------------------
// Layouts: Section
//--------------------------------------------------*/

.section > .inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 576px) {
  .section > .inner {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .section > .inner {
    width: 720px;
  }
  .section > .inner.is-width-min {
    width: calc(580px + 16px * 2);
  }
}

@media screen and (min-width: 992px) {
  .section > .inner {
    width: 960px;
  }
  .section > .inner.is-width-min {
    width: calc(580px + 16px * 2);
  }
}

.section.is-header {
  padding: 16px 0;
  background-color: white;
  border-bottom: 1px solid #e2e4e7;
}
